/* font-family: "RobotoRegular"; */
@font-face {
    font-family: "RobotoRegular";
    src: url("../fonts/RobotoRegular/RobotoRegular.eot");
    src: url("../fonts/RobotoRegular/RobotoRegular.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoRegular/RobotoRegular.woff") format("woff"),
    url("../fonts/RobotoRegular/RobotoRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "RobotoLight"; */
@font-face {
    font-family: "RobotoLight";
    src: url("../fonts/RobotoLight/RobotoLight.eot");
    src: url("../fonts/RobotoLight/RobotoLight.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoLight/RobotoLight.woff") format("woff"),
    url("../fonts/RobotoLight/RobotoLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

/* font-family: "RobotoBold"; */
@font-face {
    font-family: "RobotoBold";
    src: url("../fonts/RobotoBold/RobotoBold.eot");
    src: url("../fonts/RobotoBold/RobotoBold.eot?#iefix")format("embedded-opentype"),
    url("../fonts/RobotoBold/RobotoBold.woff") format("woff"),
    url("../fonts/RobotoBold/RobotoBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: "RobotoRegular", sans-serif;
    color: #212121;
}

.main_container:before {
    content: "";
    display: block;
    position: fixed;
    height: 100%;
    width: 0;
    top: 0;
    left: 0;
    z-index: 30;
    box-shadow: 0 0 200px 110px rgba(0,0,0,0.2);
}

.main_container:after {
    content: "";
    display: block;
    position: fixed;
    height: 100%;
    width: 0;
    top: 0;
    right: 0;
    z-index: 30;
    box-shadow: 0 0 200px 110px rgba(0,0,0,0.2);
}

.adaptive {
    width: 1240px;
    padding: 0 30px;
    height: 100%;
    margin: 0 auto;
}

.home_menu {
    position: absolute;
    top: 110px;
    background: #81b18a;
    height: 60px;
    width: 100%;
    cursor: pointer;
    z-index: 20;
}

.main_container {
    width: 100%;
    min-height: 100%;
    box-sizing: border-box;
    padding-bottom: 210px;
}

header {
    height: 100px;
    border-top: 10px solid #e7eef4;
    padding-bottom: 60px;
}

footer {
    height: 190px;
    margin-top: -190px;
    background: url(../images/footer.png);
}

.logo {
    display: table;
    height: 100%;
    float: left;
}

.logo a {
    display: table-cell;
    vertical-align: middle;
}

.search {
    float: left;
    margin-left: 30px;
}

.search input[type="text"] {
    width: 230px;
    height: 40px;
    box-sizing: border-box;
    padding: 020px;
    border: none;
    box-shadow: inset 0 0 0 2px #ededed;
}

.search form {
    position: relative;
    margin-top: 20px;
}

.search button {
    width: 40px;
    height: 40px;
    border: none;
    background: url(../images/search.png) center center no-repeat;
    position: absolute;
    right: 0;
    top: 0;
	cursor: pointer;
}

.search span {
    display: block;
    text-align: right;
    font-size: 12px;
    color: #7f7f7f;
    line-height: 16px;
    padding: 5px 0 0;
    font-family: "RobotoLight", sans-serif;
}

div.search strong {
    font-weight: normal;
    border-bottom: 1px dotted #7f7f7f;
}

.adres {
    float: left;
    color: #212121;
    font-size: 13px;
    font-family: "RobotoBold", sans-serif;
    width: 200px;
    margin-left: 30px;
    margin-top: 30px;
}

.adres span {
    color: #81b18a;
    display: block;
}

.call {
    float: left;
    text-align: right;
    margin-left: 20px;
    margin-top: 20px;
}

span.callform {
    display: inline-block;
    color: #81b18a;
    border-bottom: 1px dotted;
    margin: 0 0 5px;
    font-size: 10px;
    text-transform: uppercase;
	cursor: pointer;
    font-family: "RobotoBold", sans-serif;
}

.call a {
    color: #212121;
    font-size: 22px;
    text-decoration: none;
    font-family: "RobotoBold", sans-serif;
    display: block;
}

ul.usermenu {
    float: left;
    padding: 0;
    margin-left: 20px;
    margin-top: 35px;
}

ul.usermenu li {
    display: inline-block;
    padding-left: 25px;
    line-height: 30px;
	cursor: pointer;
    font-family: "RobotoBold", sans-serif;
}

ul.usermenu li:first-child {
    background: url(../images/sigin.png) left center no-repeat;
    margin-right: 10px;
    padding-left: 20px;
}

ul.usermenu li:last-child {
    background: url(../images/reg.png) left center no-repeat;
}

.cart {
    float: right;
    font-size: 13px;
    color: #8a8a8a;
    line-height: 18px;
    box-shadow: inset 0 0 0 2px #e4e4e4;
    margin-top: 20px;
    background: url(../images/cart.png) 10px center no-repeat;
    font-family: "RobotoLight", sans-serif;
    width: 140px;
    height: 50px;
}

.cart a {
    padding: 5px 0 0 60px;
    display: block;
    height: 45px;
    width: 80px;
    text-decoration: none;
    color: #8a8a8a;
}

.cart span {
    display: inline-block;
    border-bottom: 1px dotted;
}

.home_menu ul {
    display: table;
    padding: 0;
    width: 100%;
    height: 60px;
}

.home_menu ul li {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    font-family: "RobotoBold", sans-serif;
}

.home_menu ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 13px;
    display: block;
    line-height: 60px;
    box-shadow: inset -1px 0 0 0 #6a9a83;
    position: relative;
    padding: 0 40px;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-ms-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}

.home_menu ul li:first-child a {
    box-shadow: inset -1px 0 0 0 #6a9a83, inset 1px 0 0 0 #6a9a83;
}

.home_menu ul li a.act:before {
	content: "";
	display: block;
	position: absolute;
	bottom: 0;
	left: 0;
	height: 14px;
	width: 100%;
	background: url(../images/menuh.png) center bottom no-repeat;
	opacity: 0;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-ms-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}

.home_menu ul li a.act {
    background: #4C9B83;
}

.home_menu ul li a:hover {
    background: #4C9B83;
}

.home_menu ul li a.act:before {
    bottom: -14px;
    opacity: 1;
}

.submenu ul {
    display: table;
    padding: 0;
    height: 90px;
    width: 100%;
}

.submenu {
    background: #fefefe;
    position: relative;
    overflow: hidden;
    box-shadow: 0 5px 50px 4px rgba(0, 0, 0, 0.21);
    z-index: 5;
}

.submenu ul li span {
    display: inline-block;
    color: #212121;
    font-size: 10px;
    width: 100px;
}

.submenu ul li {
    display: table-cell;
    text-align: center;
    padding-top: 10px;
    background: url(../images/submenu.png) right center no-repeat;
}

.submenu ul li a {
    display: block;
    width: 100px;
    margin: 0 auto;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.submenu ul li a:hover {
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}

.submenu ul li img {
    display: block;
    margin: 0 auto 2px;
}


.submenu:before {
    content: "";
    display: block;
    width: 100%;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    box-shadow: 0 0 20px 10px rgb(185, 185, 185), 0 10px 50px 30px rgb(234, 234, 234);
}

.submenu .adaptive {
    position: relative;
}

.left {
    float: left;
    width: 280px;
}

.main .adaptive:after {
    content: "";
    display: block;
    clear: both;
}

ul.menu_catalog {
    padding: 30px 20px;
    box-shadow: inset 0 0 0 2px #e8e8e8;
    text-align: right;
}

ul.menu_catalog li {
    font-size: 18px;
    color: #212121;
    line-height: 30px;
    padding-bottom: 9px;
    border-bottom: 1px dashed #cacaca;
    display: inline-block;
    font-family: "RobotoLight", sans-serif;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-ms-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
	cursor: pointer;
}

ul.menu_catalog li:hover {
	padding-right: 10px;
}

.news h2 {
    font-size: 24px;
    text-align: center;
    text-transform: uppercase;
    padding: 40px 0 20px;
    font-family: "RobotoBold", sans-serif;
}

.news h3 {
    font-size: 16px;
    line-height: 20px;
    padding-bottom: 15px;
    font-family: "RobotoBold", sans-serif;
}

.news p {
    font-size: 13px;
    line-height: 18px;
    font-family: "RobotoLight", sans-serif;
    padding: 0 0 15px;
}

.news a {
    color: #212121;
    font-size: 13px;
    font-family: "RobotoLight", sans-serif;
    font-style: italic;
}

.article {
    margin: 0 0 20px;
}

.cat_item {
    padding: 0;
    width: 300px;
    box-shadow: inset 0 0 0 2px #E8E8E8;
    margin: 0 10px 10px 0;
    float: left;
    background: #fff;
    position: relative;
    left: 10px;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-ms-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}

.cat_item:hover {
    box-shadow: inset 0 0 0 2px #FF1C3E;
}

.cat_item a {
    padding: 20px 30px;
    display: inline-block;
    width: 240px;
    text-decoration: none;
    color: #212121;
    position: relative;
}

.catalog {
    margin-left: 280px;
    padding-left: 30px;
}

.cat_item img {
    margin: 10px auto 30px;
    display: block;
}

.cat_item h3 {
    font-size: 18px;
    font-weight: normal;
    padding: 0 0 15px;
    font-family: "RobotoLight", sans-serif;
    height: 51px;
    line-height: 24px;
}

.cat_item p {
    font-size: 13px;
    line-height: 16px;
    padding: 0 0 20px;
    font-family: "RobotoLight", sans-serif;
}

.cat_item button {
    float: right;
    width: 120px;
    height: 36px;
    border: none;
    background: #f94b4b;
    color: #fff;
    box-shadow: inset 0 -17px 0 0 #ff1c3e, inset 0 17px 0 0 #f94b4b;
    font-size: 16px;
    font-family: "RobotoBold", sans-serif;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    cursor: pointer;
    position: absolute;
    bottom: 20px;
    right: 30px;
}

.popular_items, .news_items, .share_items {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.catitems {
    position: relative;
    height: 422px;
}

.popular_items {
    z-index: 5;
}

.cat_item button:hover {
    box-shadow: inset 0 -17px 0 0 #f94b4b, inset 0 17px 0 0 #ff1c3e;
}

.cat_item span {
    float: left;
    line-height: 36px;
    font-family: "RobotoBold", sans-serif;
    font-size: 20px;
}

.all_items {
    display: block;
    text-align: right;
}

.all_items a {
    width: 150px;
    height: 40px;
    display: inline-block;
    line-height: 40px;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    font-family: "RobotoBold", sans-serif;
    color: #fff;
    box-shadow: inset 0 -20px 0 0 #6e9e77, inset 0 20px 0 0 #81b18a;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    margin-top: 15px;
}

.all_items a:hover {
    box-shadow: inset 0 -20px 0 0 #81b18a, inset 0 20px 0 0 #6e9e77;
}

.advantages {
    background: url(../images/advantback.png) center center / cover no-repeat;
    height: 520px;
}

.advantages ul {
    padding: 0;
    display: table;
    margin: 35px 60px 0;
}

.advantages h1 {
    line-height: 40px;
    padding-top: 20px;
    font-size: 24px;
    font-weight: normal;
    display: block;
    position: relative;
    height: 40px;
    font-family: "RobotoBold", sans-serif;
    text-transform: uppercase;
}

.advantages h1:after {
    content: "";
    background: #81b18a;
    display: block;
    height: 1px;
    margin-left: 210px;
    position: relative;
    bottom: 15px;
}

.advantages p {
    font-size: 16px;
    line-height: 20px;
    font-family: "RobotoLight", sans-serif;
    padding-top: 10px;
}

.advantages p {
    font-size: 16px;
    line-height: 20px;
    font-family: "RobotoLight", sans-serif;
    padding-top: 10px;
}

.advantages ul li {
    display: table-cell;
    width: 25%;
    text-align: center;
    padding: 0 40px;
}

.advantages ul li h2 {
    font-size: 18px;
    text-transform: uppercase;
    padding: 15px 0;
    font-family: "RobotoBold", sans-serif;
    font-weight: normal;
}

.advantages ul li span {
    font-size: 14px;
    line-height: 20px;
    font-family: "RobotoLight", sans-serif;
}

.main {
    padding: 0 0 30px;
}

.company h1:after {
    content: "";
    background: #81b18a;
    display: block;
    height: 1px;
    margin-left: 370px;
    position: relative;
    bottom: 15px;
}

.company h1 {
    line-height: 40px;
    padding: 40px 0 30px;
    font-size: 24px;
    font-weight: normal;
    display: block;
    position: relative;
    height: 40px;
    font-family: "RobotoBold", sans-serif;
    text-transform: uppercase;
}

.company h1:after {
    content: "";
    background: #81b18a;
    display: block;
    height: 1px;
    margin-left: 370px;
    position: relative;
    bottom: 15px;
}

.Com_article {
    float: left;
    width: 740px;
}

.Com_article p {
    font-size: 16px;
    padding: 0 0 20px;
    font-family: "RobotoLight", sans-serif;
    line-height: 20px;
}

.company {
    height: 400px;
}

.Com_form {
    float: right;
    width: 400px;
}

.Com_form h2 {
    font-size: 18px;
    line-height: 20px;
}

.Com_form form {
    padding: 10px 0;
    width: 400px;
    height: 110px;
    position: relative;
}

.Com_form form input{
	height: 50px;
	border: none;
	border-radius: 8px;
	box-sizing: border-box;
	box-shadow: inset 0 0 0 2px #e2e2e2;
	padding: 0 20px;
	position: absolute;
	font-family: "RobotoLight", sans-serif;
	font-size: 18px;
}

.Com_form form input:nth-of-type(1) {
	top: 10px;
	left: 0;
	width: 195px;
}

.Com_form form input:nth-of-type(2) {
	top: 10px;
	right: 0;
	width: 195px;
}

.Com_form form input:nth-of-type(3) {
	bottom: 10px;
	left: 0;
	width: 70px;
}

.Com_form form select {
    position: absolute;
    right: 0;
    bottom: 10px;
    background: #fff;
    height: 50px;
    border: none;
    border-radius: 8px;
    padding: 0 20px;
    box-sizing: border-box;
    box-shadow: inset 0 0 0 2px #e2e2e2;
    width: 320px;
    font-family: "RobotoLight", sans-serif;
    font-size: 18px;
    color: #ABABAB;
}

.Com_form form select:focus {
    color: #000;
}

.Com_form form button {
    width: 150px;
    height: 40px;
    display: inline-block;
    line-height: 40px;
    text-decoration: none;
    text-align: center;
    font-size: 16px;
    font-family: "RobotoBold", sans-serif;
    color: #fff;
    box-shadow: inset 0 -20px 0 0 #6e9e77, inset 0 20px 0 0 #81b18a;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    position: absolute;
    bottom: -45px;
    right: 0;
    border: none;
	cursor: pointer;
}

.Com_form form button:hover {
    box-shadow: inset 0 -20px 0 0 #81b18a, inset 0 20px 0 0 #6e9e77;
}

.Com_form form span {
    position: absolute;
    left: 0;
    bottom: -45px;
    color: #212121;
    font-size: 10px;
    width: 190px;
    padding-left: 25px;
    background: url(../images/lock.png) left center no-repeat;
}

.proizvoditeli h1 {
    line-height: 40px;
    padding: 0 0 30px;
    font-size: 24px;
    font-weight: normal;
    display: block;
    position: relative;
    height: 40px;
    font-family: "RobotoBold", sans-serif;
    text-transform: uppercase;
}

.proizvoditeli h1:after {
    content: "";
    background: #81b18a;
    display: block;
    height: 1px;
    margin-left: 220px;
    position: relative;
    bottom: 15px;
}

.proizvoditeli {
    padding-bottom: 30px;
}

.main h1 {
    line-height: 40px;
    padding: 30px 0;
    font-size: 24px;
    font-weight: normal;
    display: block;
    position: relative;
    height: 40px;
    font-family: "RobotoBold", sans-serif;
    text-transform: uppercase;
}

.main h1:after {
    content: "";
    background: #81b18a;
    display: block;
    height: 1px;
    margin-left: 120px;
    position: relative;
    bottom: 15px;
}

.proizvoditeli .owl-carousel {
  width: 1000px;
}

.popular .cat_item {
    margin: 0;
    left: 0;
}

ul.pop_menu {
    padding: 0 0 35px;
    height: 40px;
}

ul.pop_menu li {
    float: left;
    display: block;
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    margin-right: 10px;
    cursor: pointer;
    box-shadow: inset 0 -20px 0 0 #cbcbcb, inset 0 20px 0 0 #d8d8d8;
    font-family: "RobotoLight", sans-serif;
    font-size: 18px;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}

ul.pop_menu li.focus {
    box-shadow: inset 0 -20px 0 0 #6e9e77, inset 0 20px 0 0 #81b18a;
    color: #fff;
}

.slider {
    height: 530px;
    background: url(../images/slideback.jpg) center center / 10px 100%;
    position: relative;
    z-index: 2;
}

.services {
    height: 320px;
    padding: 70px 0 100px;
}

.services ul {
    display: block;
    padding: 0;
    width: 1270px;
    height: 320px;
}

.services ul li {
    display: block;
    width: 290px;
    height: 320px;
    background: url(../images/serv.jpg) center center / 10px 100%;
    float: left;
    margin-right: 26px;
    text-align: center;
    position: relative;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.services ul li:hover {
    -webkit-transform: scale(0.9);
    -moz-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.95);
    box-shadow: 0 0 0 4px #DADADA, 0 0 0 8px #CACACA;
}

.services ul li a {
    display: block;
    width: 100%;
    height: 100%;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -ms-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.services ul li:nth-of-type(1) {
    background: url(../images/serv1.png) center center / cover no-repeat;
}

.services ul li:nth-of-type(2) {
    background: url(../images/serv2.png) center center / cover no-repeat;
}

.services ul li:nth-of-type(3) {
    background: url(../images/serv3.png) center center / cover no-repeat;
}

.services ul li:nth-of-type(4) {
    background: url(../images/serv4.png) center center / cover no-repeat;
}

.services ul li h2 {
    font-family: "RobotoBold", sans-serif;
    font-size: 24px;
    position: absolute;
    top: 240px;
    line-height: 30px;
    width: 100%;
}

.services ul li span {
    color: #00a328;
    font-family: "RobotoBold", sans-serif;
    font-size: 20px;
    line-height: 20px;
    position: absolute;
    top: 275px;
    width: 100%;
    left: 0;
}

.foottop {
    height: 120px;
    box-shadow: inset 0 -1px 0 0 #77a37f;
    position: relative;
}

.foot_logo {
    display: block;
    float: left;
    height: 30px;
    padding: 45px 0;
}

.foottop ul {
    float: left;
    width: 420px;
    padding: 40px 0;
    margin-left: 45px;
}

.foottop ul li {
    float: left;
    margin-right: 40px;
    line-height: 20px;
}

.foottop ul li a {
    color: #fff;
    font-size: 14px;
    font-family: "RobotoLight", sans-serif;
}

.foot_adres {
    color: #fff;
    font-size: 14px;
    line-height: 20px;
    font-family: "RobotoBold", sans-serif;
    width: 220px;
    float: left;
    padding: 30px 0;
    margin-left: 20px;
}

.foot_call a {
    color: #FFFFFF;
    font-size: 22px;
    text-decoration: none;
    font-family: "RobotoBold", sans-serif;
    display: block;
}

.foot_call {
    float: right;
    text-align: right;
    padding: 40px 0;
}

.foot_call span.callform {
    display: inline-block;
    color: #FFFFFF;
    border-bottom: 1px dotted;
    margin: 0 0 5px;
    font-size: 10px;
    text-transform: uppercase;
    cursor: pointer;
    font-family: "RobotoBold", sans-serif;
}

.copyright {
    width: 250px;
    color: #fff;
    font-size: 14px;
    line-height: 18px;
    padding: 16px 0;
    position: absolute;
    left: 0;
    font-family: "RobotoLight", sans-serif;
}

.footbottom {
    height: 70px;
    position: relative;
}

a.vooa {
    position: absolute;
    right: 0;
    top: 20px;
}

.social {
    position: absolute;
    right: 200px;
    top: 20px;
}

.social a {
    margin-left: 10px;
}

.mobile_menu {
    display: none;
}

.submenu ul li:last-child {
    background: none;
}

.home_slider h1 {
    font-size: 36px;
    font-family: "RobotoBold", sans-serif;
    line-height: 40px;
}

.home_slider p {
    font-size: 16px;
    font-family: "RobotoLight", sans-serif;
    line-height: 24px;
    padding: 20px 0;
}

.home_slider a {
    width: 280px;
    height: 70px;
    line-height: 70px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 24px;
    font-family: "RobotoLight", sans-serif;
    box-shadow: inset 0 0 0 2px #505050;
	color: #505050;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-ms-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}

.home_slider a:hover {
    color: #fff;
    background: #505050;
}

.unslider {
    height: 100%;
    position: relative;
}

.unslider-fade .unslider-wrap li {
    height: 100%;
}

.unslider-fade {
    height: 100%;
}

ul.unslider-wrap {
    height: 100%;
}

.slide_desc {
    margin-top: 0;
    margin-left: 150px;
    width: 350px;
    display: table;
    height: 100%;
}

.slide_cell {
    display: table-cell;
    vertical-align: middle;
}

nav.unslider-nav {
    display: none;
}

.unslider-arrow {
    position: absolute;
    left: 40px;
    z-index: 20;
    cursor: pointer;
    width: 30px;
    height: 50px;
    top: 220px;
    font-size: 0;
}

a.unslider-arrow.prev {
    background: url(../images/arl.png) center center / 18px no-repeat;
}

.unslider-arrow.next {
    left: auto;
    right: 40px;
    background: url(../images/arr.png) center center / 18px no-repeat;
}

/*Shamil style*/
.mycontent {
    padding: 28px 0;
}
    .breadcroumbs {
        font-family: 'RobotoLight', sans-serif;
        margin-bottom: 20px;
        font-size: 14px;
    }
        .breadcroumbs ul {
            padding: 0;
        }
        .breadcroumbs ul li {
            display: inline-block;
        }
        .breadcroumbs ul li a {
            color: #212121;
            text-decoration: none;
        }
        .breadcroumbs ul li a:after {
            content: ' /';
        }
    .calc-tab-wr {
        padding-bottom: 110px;
    }
        .calc-tab-wr__title {
            position: relative;
            z-index: 2;
            line-height: 25px;
            background-image: url('../images/title__bgline.jpg');
            background-repeat: repeat-x;
            background-position: left center;
            font-size: 24px;
        }
            .calc-tab-wr__title span {
                background-color: #ffffff;
                padding-right: 15px;
            }

        .calc-tab{
            overflow: hidden;
            margin-top: 60px;
            margin-bottom: 75px;
        }
            .calc-tab-left{
                float: left;
                max-width: 330px;
                padding-left: 50px;
                margin-top: 40px;
            }
                .calc-tab-left h3 {
                    font-size: 20px;
                    font-family: 'RobotoBold', sans-serif;
                    text-transform: uppercase;
                    text-align: right;
                    margin-right: 15px;
                    margin-bottom: 17px;
                }

.calc-tab-left__list {
    margin: 0;
    padding: 0;
}
.calc-tab-left__list li {
    padding: 10px 20px 15px 40px;
    text-align: right;
    border: 2px solid transparent;
    max-width: 324px;
    box-sizing: border-box;
    cursor: pointer;
    margin-bottom: 5px;
}
.calc-tab-left__list li.active {
    border: 2px solid #84c2a2;
    position: relative;
}
.calc-tab-left__list li.active .line1 {
    display: block;
    position: absolute;
    left: 100%;
    top: 30px;
    z-index: 1;
    background-image: url('../images/calcline1.png');
    background-repeat: no-repeat;
    width: 549px;
    height: 11px;
}
.calc-tab-left__list .line {
    display: none;
}
.calc-tab-left__list .line2 {
    position: absolute;
    left: 100%;
    top: 30px;
    z-index: 1;
    background-image: url('../images/line2.png');
    background-repeat: no-repeat;
    width: 585px;
    height: 45px;
}
.calc-tab-left__list .line3 {
    position: absolute;
    left: 100%;
    top: 30px;
    z-index: 1;
    background-image: url('../images/line3.png');
    background-repeat: no-repeat;
    width: 281px;
    height: 18px;
}
.calc-tab-left__list .line4 {
    position: absolute;
    left: 100%;
    bottom: 40px;
    z-index: 1;
    background-image: url('../images/line4.png');
    background-repeat: no-repeat;
    width: 504px;
    height: 248px;
}
.calc-tab-left__list .line5 {
    position: absolute;
    left: 100%;
    bottom: 40px;
    z-index: 1;
    background-image: url('../images/line5.png');
    background-repeat: no-repeat;
    width: 546px;
    height: 285px;
}
.calc-tab-left__list li.active h4 {
    color: #84c2a2;
}
.calc-tab-left__list li h4 {
    color: #000000;
    margin-bottom: 5px;
    font-size: 20px;
}
.calc-tab-left__list li p {
    font-family: 'RobotoLight', sans-serif;
    font-size: 11px;
    line-height: 13px;
}

.calc-tab-left__2:after {
    content: '';
}
.calc-tab-left__2:before {
    content: '';
}
            .calc-tab-right{
                float: right;
                width: 840px;
            }
                .calc-tab-right__img {
                    position: relative;
                    background-image: url('../images/calc-home.jpg');
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: contain;
                    min-height: 558px;
                }
                    .calc-tab-right__img img {
                        width: 100%;
                        height: auto;
                    }
                    .circle {
                        position: absolute;
                        width: 30px;
                        height: 31px;
                        background-image: url('../images/circle-noact.png');
                        background-repeat: no-repeat;
                    }
                    .circle1 {
                        top: 83px;
                        right: 307px;
                    }
                        .circle1__text {
                            position: absolute;
                            padding: 5px;
                            background-color: #ffffff;
                            -webkit-border-radius: 5px;
                            -moz-border-radius: 5px;
                            border-radius: 5px;
                        }
                        .circle1__text1 {
                            top: 84px;
                            left: 335px;
                        }
                        .circle1__text2 {
                            top: 132px;
                            right: 157px;
                        }
                        .circle1__text3 {
                            top: 196px;
                            left: 340px;
                        }
                        .circle1__text4 {
                            top: 262px;
                            right: 95px;
                        }
                        .circle1__text5 {
                            top: 287px;
                            left: 265px;
                        }
                    .circle2 {
                        top: 240px;
                        right: 270px;
                    }
                    .circle3 {
                        top: 285px;
                        left: 240px;
                    }
                    .circle4 {
                        top: 150px;
                        right: 351px;
                    }
                    .circle5 {
                        top: 195px;
                        right: 310px;
                    }
                    .circle.active {
                        background-image: url('../images/circle1.png');
                    }
.calc-dop {}
.calc-dop .calc-tab-wr__title {
    margin-bottom: 70px;
}
.calc-dop__descr {
    font-family: 'RobotoLight', sans-serif;
    font-size: 16px;
    color: #6b6b6b;
    text-align: center;
    margin-bottom: 20px;
}
.calc-doplist {
    text-align: center;
    margin-bottom: 35px;
    padding: 0;
}
    .calc-doplist__item {
        display: inline-block;
        vertical-align: top;
        width: 518px;
        text-align: left;
        border: 1px solid #e6e6e6;
        margin: 0 4px 10px;
        padding: 27px 30px;
        box-sizing: border-box;
    }
    .calc-doplist__item--active {
        border-color: #84c2a2;
    }
    .calc-doplist__item span {
        color: #84c2a2;
        font-family: 'RobotoBold', sans-serif;
        font-size: 18px;
    }
    .doplist-col {
        display: inline-block;
        vertical-align: middle;
    }
    .doplist-col--1 {
        width: 75px;
    }
    .doplist-col--2 {
        width: 190px;
    }
    .doplist-col--3 {
        width: 105px;
    }
    .doplist-col--4 {
        width: 105px;
    }
    .doplist-col input {
        display: none;
    }
    .doplist-col label {
        position: relative;
        cursor: pointer;
    }
    .doplist-col label:after {
        content: '';
        width: 32px;
        height: 32px;
        position: absolute;
        left: 0;
        top: 0;
        margin-top: -16px;
        background-image: url('../images/input-nocheck.jpg');
        background-repeat: no-repeat;
        background-position: center;
    }
    .doplist-col input:checked + label:after {
        background-image: url('../images/input-checked.png');
    }

    .doplist-col h4{
        font-size: 18px;
        font-family: 'RobotoBold', sans-serif;
        color: #212121;
        margin-bottom: 5px;
    }
    .doplist-col--2 p {
        font-family: 'RobotoLight', sans-serif;
        font-size: 12px;
        color: #212121;
    }
    .doplist-col--3 p, .doplist-col--4 p {
        font-size: 13px;
        line-height: 20px;
    }
    .doplist-col--1 {
        width: 45px;
    }
    .doplist-col--2 {}
    .doplist-col--3 {
        width: 100px;
    }
    .doplist-col--4 {}

.calc-dopbottom {
    max-width: 1050px;
    margin: 0 auto;
    overflow: hidden;
}
    .calc-dopbottom-left {
        float: left;
        width: 580px;
        text-align: left;
        font-family: 'RobotoBold', sans-serif;
        font-size: 12px;
        margin-top: 5px;
    }
        .price1 {
            margin-right: 40px;
        }
        .calc-dopbottom-left p {
            text-align: right;
            width: 85px;
            margin-right: 17px;
        }
        .calc-dopbottom-left span, .calc-dopbottom-left p {
            display: inline-block;
            vertical-align: middle;
        }
        .calc-dopbottom-left span {
            display: inline-block;
            font-size: 36px;
            color: #212121;
        }
    .calc-dopbottom-right {
        float: right;
        width: 450px;
        text-align: right;
        margin-bottom: 20px;
        padding-right: 20px;
    }
        .calc-dopbottom-right input {
            padding: 14px 20px;
            margin-left: 8px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            border-radius: 10px;
            border: 1px solid #e2e2e2;
        }
    .dopbottom-bot {
        clear: both;
        text-align: right;
        padding-right: 20px;
    }
    .dopbottom-bot p, .dopbottom-bot button {
        display: inline-block;
        vertical-align: middle;
    }
    .dopbottom-bot p {
        font-size: 10px;
        background-image: url('../images/zamok.png');
        background-repeat: no-repeat;
        background-position: left center;
        padding-left: 20px;
        line-height: 12px;
    }
    .dopbottom-bot button {
        vertical-align: middle;
        background-image: url('../images/btn-bg.png');
        background-repeat: repeat-x;
        height: 39px;
        width: 155px;
        outline: none;
        border: none;
        cursor: pointer;
        margin-left: 20px;
        font-size: 20px;
        color: #ffffff;
    }

/*Shamil style end*/

/*page product*/
.catalog__title {
    color: #212121;
    font-family: 'RobotoBold', sans-serif;
    font-size: 18px;
    margin-bottom: 20px;
}
.product-top {
    overflow: hidden;
    margin-bottom: 45px;
}
    .product-left {
        float: left;
        max-width: 418px;
        border: 1px solid #ececec;
    }
        .product-img {
            overflow: hidden;
        }
            .big-img {
                float: left;
                width: 300px;
            }
                .big-img img {
                    width: 300px;
                    height: 300px;
                }
            .min-imgs{
                float: right;
                border-left: 1px solid #ececec;
            }
                .min-imgs img {
                    display: block;
                    border-bottom: 1px solid #ececec;
                    cursor: pointer;
                }
                .min-imgs img:nth-child(3) {
                    border-bottom: none;
                }
    .product-right {
        float: right;
        width: 490px;
        text-align: left;
    }
        .product-right-top {
            margin-bottom: 20px;
            font-size: 13px;
            color: #212121;
            font-family: 'RobotoLight', sans-serif;
        }
        .review-count {
            display: inline-block;
            vertical-align: middle;
            margin-right: 50px;
        }
        .product-top-right__compare {
            display: inline-block;
            vertical-align: middle;
            margin-right: 50px;
            background-image: url('../images/compare-icon.png');
            background-repeat: no-repeat;
            background-position: left center;
            padding-left: 25px;
        }
        .product-top-right__tobookmarks {
            display: inline-block;
            vertical-align: middle;
            background-image: url('../images/heart-icon.png');
            background-repeat: no-repeat;
            background-position: left center;
            padding-left: 25px;
        }

        .product-right__settings {
            padding: 0;
            width: 100%;
            margin-left: 30px;
            margin-bottom: 50px;
        }
        .product-right__settings li {
            margin-bottom: 10px;
        }
            .settings-name {
                display: inline-block;
                width: 270px;
                background-image: url('../images/settings-bg.png');
                background-repeat: repeat-x;
                background-position: left 12px;
            }
                .settings-name span {
                    background-color: #ffffff;
                }
            .settings-znach {
                display: inline-block;
                text-transform: uppercase;
            }

            .in-stock {
                padding-left: 31px;
                background-image: url('../images/nal-icon.png');
                background-repeat: no-repeat;
                background-position: left center;
                line-height: 15px;
                margin-bottom: 20px;
                margin-left: 20px;
            }
            
            .buy-install {
                padding-left: 37px;
                background-image: url('../images/input-checked.png');
                background-repeat: no-repeat;
                background-position: left center;
                line-height: 30px;
                margin-bottom: 20px;
                margin-left: 20px;
            }

            .product-prices {
                padding-left: 20px;
            }
            .price-plus {
                background-image: url('../images/count-plus.png');
                background-repeat: no-repeat;
                background-position: center;
            }
            .price-minus {
                background-image: url('../images/price-minus.png');
                background-repeat: no-repeat;
                background-position: center;
            }
            .product-prices form {
                display: inline-block;
                margin-right: 30px;
            }
            .product-prices form input {
                display: inline-block;
                vertical-align: middle;
                height: 33px;
                width: 44px;
                text-align: center;
                border: 1px solid #cccccc;
                font-family: 'RobotoLight', sans-serif;
                font-size: 18px;
                margin: 0 9px;
            }
            .product-prices form a {
                width: 24px;
                height: 24px;
                display: inline-block;
                vertical-align: middle;
                text-decoration: none;
            }
            .product-price {
                display: inline-block;
                vertical-align: middle;
                font-size: 26px;
                font-family: 'RobotoBold', sans-serif;
                margin-right: 20px;
            }
            .product-price:after {
                font-size: 14px;
                content: ' руб.';
            }
            .add-cart {
                display: inline-block;
                vertical-align: middle;
                text-align: center;
                line-height: 41px;
                width: 149px;
                height: 41px;
                background-image: url('../images/red-btn-bg.jpg');
                background-repeat: repeat-x;
                font-size: 18px;
                text-decoration: none;
                color: #ffffff;
                font-family: 'RobotoBold', sans-serif;
            }




/*sprite with stars*/
.reviewStars-input input:checked ~ label,
.reviewStars-input label,
.reviewStars-input label:hover,
.reviewStars-input label:hover ~ label {
    background: url('../images/rating-star.png') no-repeat;
}

.reviewStars-input {
    overflow: hidden;
    *zoom: 1;
    position: relative;
    width: 102px;
    display: inline-block;
    vertical-align: middle;
}

.reviewStars-input input {
    opacity: 0;
    width: 17px;
    height: 17px;
    position: absolute;
    top: 0;
    z-index: 0;
}

.reviewStars-input input:checked ~ label {
    background-position: 0 -17px;
    height: 17px;
    width: 17px;
    top: 0;
}

.reviewStars-input label {
    background-position: 0 0;
    height: 17px;
    width: 17px;
    float: right;
    cursor: pointer;
    margin-right: 2px;

    position: relative;
    z-index: 1;
    top: 0;
}

.reviewStars-input label:hover,
.reviewStars-input label:hover ~ label {
    background-position: 0 -17px;
    height: 17px;
    width: 17px;
}

.product-tabwr {
    margin-bottom: 65px;
}
    .product-tabwr .tabs {
        padding: 0;
        font-size: 0;
        margin-left: 10px;
    }
    .product-tabwr .tab{
        font-size: 16px;
        display: inline-block;
        padding: 11px 25px;
        border: 1px solid #eeeeee;
        border-right-width: 0;
        cursor: pointer;
    }
    .product-tabwr .tab:last-child {
        border-right-width: 1px;
    }
    .product-tabwr .active {
        border-bottom-color: transparent;
        position: relative;
    }
    .product-tabwr .active:after {
        content: '';
        position: absolute;
        left: 0;
        bottom: -2px;
        height: 4px;
        width: 100%;
        background-color: #fff;
    }

    .product-tabwr .tab_content{
        border-top: 1px solid #eeeeee;
        padding: 10px;
    }
    .product-tabwr .tab_item{}
    .product-tabwr .tab_item p{
        font-size: 14px;
        color: #212121;
        font-family: 'RobotoLight', sans-serif;
        margin-bottom: 12px;
        line-height: 18px;
    }

    .product-comments {}
        .product-comments__title {
            background-image: url('../images/prod-title-bg.jpg');
            background-repeat: repeat-x;
            background-position: left center;
            margin-bottom: 25px;
            font-family: 'RobotoBold', sans-serif;
            color: #212121;
            margin-left: 10px;
        }
            .product-comments__title > span {
                padding-right: 20px;
                background-color: #ffffff;
                font-family: 'RobotoLight', sans-serif;
            }
        .product-comments__list {
            padding: 0;
            margin-bottom: 40px;
            margin-left: 10px;
        }
            .product-comments__list li {
                margin-bottom: 20px;
            }
        .product-comments__list p {
            color: #212121;
            font-size: 14px;
        }
        .product-comments__author {
            font-family: 'RobotoBold', sans-serif;
            font-size: 15px;
            margin-bottom: 5px;
            display: inline-block;
        }
        .add-comment {
            overflow: hidden;
        }
        .add-comment textarea {
            width: 100%;
            min-height: 75px;
            resize: none;
            padding-left: 20px;
            padding-top: 13px;
            box-sizing: border-box;
            font-size: 16px;
            margin-bottom: 18px;
        }
        .add-ratingwr {
            float: left;
            text-align: left;
            width: 40%;
        }
            .add-rating {
                display: inline-block;
                vertical-align: middle;
                color: #212121;
                font-family: 'RobotoBold', sans-serif;
                font-size: 16px;
            }
        .btn-group {
            float: right;
            text-align: right;
            width: 40%;
        }
            .add-comment__btn {
                vertical-align: middle;
                background-image: url('../images/btn-bg.png');
                background-repeat: repeat-x;
                height: 39px;
                width: 155px;
                outline: none;
                border: none;
                cursor: pointer;
                margin-left: 20px;
                font-size: 14px;
                color: #ffffff;
            }

.product-recently {
    margin-top: 90px;
    position: relative;
}
    .product-recently__controls {
        position: absolute;
        right: 0;
        top: 0;
        margin-top: -10px;
    }
        .product-recently__prev {
            width: 40px;
            height: 40px;
            background: url(../images/left.png) center center no-repeat;
            display: inline-block;
            cursor: pointer;
        }
        .product-recently__next {
            width: 40px;
            height: 40px;
            background: url(../images/right.png) center center no-repeat;
            display: inline-block;
            cursor: pointer;
        }

    .product-recently__title {
        font-size: 22px;
        font-family: 'RobotoBold', sans-serif;
        color: #212121;
        margin-bottom: 30px;
        margin-left: 10px;
    }

    .recently-slider {
        text-align: center;
    }

.hidden {
    /*display: none;*/
}

.white-shadow {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/white-shadow-bg.png');
    z-index: 9998;
}

.modal-call {
    display: none;
    width: 531px;
    height: 535px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: fixed;
    top: calc(50% - 265px) ;
    left: calc(50% - 267px) ;
    z-index: 9999;
    background-color: #ffffff;
    padding: 70px 85px;
    text-align: center;
    -webkit-box-shadow: 0 0 21px 4px rgba(0,0,0, 0.2);
    -moz-box-shadow: 0 0 21px 4px  rgba(0,0,0, 0.2);
    box-shadow: 0 0 21px 4px  rgba(0,0,0, 0.2);
    color: #212121;
}

.modal-call h3 {
    font-family: 'RobotoBold', sans-serif;
    font-size: 26px;
    margin-bottom: 10px;
}

.modal-call .modal-call__topp {
    font-size: 14px;
    font-family: 'RobotoLight', sans-serif;
    margin-bottom: 40px;
}
.modal-call input {
    height: 58px;
    padding-left: 35px;
    font-size: 20px;
    font-family: 'RobotoLight', sans-serif;
    color: #212121;
    margin-bottom: 25px;
    display: block;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.modal-call .btn-group {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: center;
    display: block;
    float: none;
}
.modal-call button {
    vertical-align: middle;
    background-image: url('../images/btn-bg.png');
    background-repeat: repeat-x;
    height: 39px;
    width: 155px;
    outline: none;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #ffffff;
}
.modal-call .modal-call__secur {
    line-height: 13px;
    font-size: 12px;
    font-family: 'RobotoLight', sans-serif;
    text-align: left;
    padding-left: 27px;
    background-image: url('../images/zamok-black.png');
    background-repeat: no-repeat;
    background-position: left center;
}

/*page product end*/